<link rel="stylesheet" href="App/Style/style.css">

<h1>Gerenciador de Conteúdo</h1>

<a href="http://localhost/project_crud/?page=admin&method=create">Criar Publicação</a> <br>
<hr>
<br>
<table>
    <tr>
        <th>ID</th>
        <th>TÍTULO</th>
        <th>ALTERAÇÃO</th>
        <th>DELEÇÃO</th>
    </tr>

    {% for postagem in postagens %}
    <tr>
        <th>{{postagem.id}}</th>
        <th>{{postagem.titulo}}</th>
        <th><a href="http://localhost/project_crud/?page=admin&method=change&id={{postagem.id}}">ALTERAÇÃO</a></th>
        <th>DELEÇÃO</th>
    </tr>
    {% endfor %}
</table>