<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Poppins:wght@300;400;500;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="App/Style/style.css">
</head>

<body>
    <header id="header__navegacao">
        <nav id="nav__navegacao">
            <a href="http://localhost/project_crud/">Home</a>
            <a href="http://localhost/project_crud/?page=sobre">Sobre</a>
            <a class="admin__dashboard" href="http://localhost/project_crud/?page=admin&method=index">Admin</a>
        </nav>
    </header>

    <main id="conteudo">
        {{dynamic_area}}
    </main>

</body>

</html>