* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #161b22;
}

#header__navegacao {
    padding: 10px 25px;
    width: 1000px;
    background-color: #161b22;
    margin: 0 auto;
}

#nav__navegacao a {
    color: #FFF;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    padding-right: 20px;
}

#nav__navegacao a:hover {
    color: #bebebe;
}

#nav__navegacao a:active {
    color: aquamarine;
}

#conteudo {
    padding: 20px 25px;
    width: 1000px;
    background-color: #0d1117;
    margin: 0 auto;
    border-radius: 10px;
}

#conteudo h1 {
    font-size: 20px;
    color: #bebebe;
    margin-bottom: 20px;
}

article {
    margin-bottom: 20px;
}

article h2 {
    margin-bottom: 3px;
}

article h2 a {
    color: #FFF;
    text-decoration: none;
    font-size: 20px;
}

article h2 a:hover {
    color: #bebebe;
}

article p{
    font-size: 16px;
    padding-left: 15px;
    color:#bebebe;
}
